<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ngInclude Radio Button Example</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	<!-- Include Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>			<!-- Include Angular -->
	</head>
	<body ng-app>			<!-- Initialize Angular without a module attached -->

		<div class="container"> 				 		 	<!-- a container class puts margins to the left and right of our body -->

			<div ng-include="'header.html'"></div>			<!-- Include the markup in header.html -->

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Select Your Favorite Pet</h3>    <!-- Our panel title -->
				</div>
				<div class="panel-body">                                <!-- Our app markup with live here -->

					<div class="row">
						<div class="col-sm-4">

							<div class="radio">
								<label>
									<input type="radio" ng-model="myPet" value="cat.html"> Cat
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="myPet" value="dog.html"> Dog
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" ng-model="myPet" value="ferret.html"> Ferret
								</label>
							</div>
							<p>
								<b>myPet scope variable contains</b>: {{myPet}}
							</p>

						</div>
						<div class="col-sm-8">
							<div ng-include="myPet"></div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>
